.about-us__wrap{
	width: 100%;
	height: 500px;
	padding: 50px;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 150px;

	@media screen and(max-width: 1440px) {
		width: 1440px;
		margin-top: 75px;
		margin-bottom: 75px;
	}

	@media screen and(max-width: 1024px) {
		width: 1024px;
		margin-top: 0;
		margin-bottom: 0;
	}

	@media screen and(max-width: 720px) {
		width: 720px;
	}

	.about-us__logo{
		min-width: 50%;
		width: 60%;
		height: 500px;
		background: url('img/garantia-big_1000.jpg');
		background-repeat: no-repeat;

		@media screen and(max-width: 1440px) {
			width: 720px;
			height: 360px;
			background: url('img/garantia-big_720.jpg');
			background-repeat: no-repeat;
		}

		@media screen and(max-width: 1024px) {
			width: 640px;
			height: 320px;
			background: url('img/garantia-big_520.jpg');
			background-repeat: no-repeat;
		}

		@media screen and(max-width: 720px) {
			display: none;
		}
	}

	.about-us__description{
		border: 1px solid #DCDDE0;
		border-radius: 1px;
		width: 38%;
		height: 97%;
		justify-content: center;
		align-items: center;

		@media screen and(max-width: 1440px) {
			width: 45%;
			height: 360px;
		}

		@media screen and(max-width: 1024px) {
			width: 50%;
			height: 320px;
		}

		@media screen and(max-width: 720px) {
			width: 100%;
			height: 320px;
		}

		h4.about-us__description__heading{
			color: black;
			font:{
				family: 'Glowgirl Regular';
				size: 48px;
				weight: bold;
			};

			@media screen and(max-width: 1440px) {
				font: {
					size: 28px;
				};
			}

			@media screen and(max-width: 1024px) {
				font:{
					size: 24px;
				};
			}
		}

		p.about-us__description__text{
			text-align: center;
			font: {
				family: 'Myriad Pro';
				size: 20px;
			};

			@media screen and(max-width: 1024px) {
				font: {
					size: 17px;
				};
			}
		}

		.about-us__description__cards{
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			height: auto;

			@media screen and(max-width: 1440px) {
				width: 90%;
			}

			.about-us__description__card{
				text-align: center;
				width: 25%;
				justify-content: center;
				align-items: center;

				@media screen and(max-width: 1440px) {
					width: 30%;
				}

				@media screen and(max-width: 1024px) {
					width: auto;
				}

				.about-us__description__card__divider{
					margin: 0;
					padding: 0;
					background: black;
					height: 2px;
					width: 22px;
					position: relative;
					bottom: 10px;
					transform: rotate(90deg);

					@media screen and(max-width: 1440px) {
						width: 17px;
						bottom: 7px;
					}
				}

				img{
					padding: 0;
					margin: 20px 0 20px 0;
					border-radius: 50%;

					@media screen and(max-width: 1440px) {
						margin: 15px 0 15px 0;
						width: 120px;
						height: 120px;
					}

					@media screen and(max-width: 1024px) {
						width: 80px;
						height: 80px;
					}
				}
			}
		}
	}
}