.company-logo{
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: flex-end;
	width: 100%;
	height: 600px;
	padding-right: 100px;
	padding-bottom: 60px;
	background: url('img/hakkimizda.jpg'), linear-gradient(270deg, #0F1F2F, #2A5A8E);
	background-blend-mode: lighten;
	background-repeat: no-repeat;
	background-position: center center;

	h2{
		color: #FDF9F7;
		font:{
			size: 60px;
			family: 'Glowgirl Regular';
		};

		@media screen and(max-width: 1400px) {
			margin-bottom: 100px;
			color: #071137;
			font: {
				size: 70px;
				weight: bold;
			};
		}
	}

	h3{
		color: #F07C4A;
		font:{
			size: 38px;
			family: 'Glowgirl Regular';
		};

		@media screen and(max-width: 1400px) { 
			color: #071137;
			font: {
				size: 40px;
				weight: bold;
			};
		}
	}

	@media screen and(max-width: 1400px) {
		width: 1440px;
		justify-content: center;
		align-items: center;
		background: linear-gradient(270deg, #0F1F2F, #2A5A8E);
	}

	@media screen and(max-width: 1024px) {
		width: 1024px;
	}

	@media screen and(max-width: 720px) {
		width: 720px;
	}
}