@font-face{
	font: {
		family: 'Compact Bold';
	}
	src: url('../fonts/compact-bold.woff') format('woff');
}

@font-face{
	font: {
		family: 'Noto Sans Display Condensed Extrabold Italic';
	}
	src: url('../fonts/noto-sans-display-condensed-extrabold-italic.woff') format('woff');
}

@font-face{
	font: {
		family: 'Open Sans Bold';
	}
	src: url('../fonts/open-sans-bold.woff') format('woff');
}

@font-face{
	font: {
		family: 'Open Sans Regular';
	}
	src: url('../fonts/open-sans.woff') format('woff');
}

@font-face{
	font: {
		family: 'Roboto Bold';
	}
	src: url('../fonts/roboto-bold.woff') format('woff');
}

@font-face{
	font: {
		family: 'Accuratist';
	}
	src: url('../fonts/accuratist.woff') format('woff');
}

@font-face{
	font: {
		family: 'Roboto Regular';
	}
	src: url('../fonts/roboto-regular.woff') format('woff');
}

@font-face{
	font: {
		family: 'Glowgirl Regular';
	}
	src: url('../fonts/Glowgirl-Regular.woff2') format('woff2');
}

@font-face{
	font: {
		family: 'Vani';
	}
	src: url('../fonts/Vani.ttf') format('truetype');
}

@font-face{
	font: {
		family: 'Myriad Pro';
	}
	src: url('../fonts/Myriad Pro.ttf') format('truetype');
}

@font-face{
	font: {
		family: 'Athelas';
	}
	src: url('../fonts/AthelasArabic-Regular.woff2') format('woff2');
}