footer{
	width: 100%;
	height: auto;
	background: #052830;
	align-items: center;
	justify-content: space-evenly;

	@media screen and(max-width: 1440px) {
		width: 1440px;
	}

	@media screen and(max-width: 1024px) {
		width: 1024px;
	}

	@media screen and(max-width: 720px) {
		width: 720px;
	}

	.footer__top{
		width: 88%;
		min-height: 200px;
		align-items: baseline;
		justify-content: space-around;
		padding-top: 30px;

		.footer__item{
			justify-content: flex-start;
			width: 15%;
			min-height: 90%;

			@media screen and(max-width: 1024px) {
				width: 13%;
			}

			h6.footer__item__heading{
				margin-bottom: 25px;
				color: white;
				font:{
					family: 'Myriad Pro';
					size: 24px;
					weight: bold;
				};

				@media screen and(max-width: 1024px) {
					font: {
						size: 20px;
					};
				}
			}

			&:nth-child(5){
				width: 20%;
				height: 100%;
				justify-content: space-around;
			};

			.footer__item__list{
				justify-content: flex-start;

				a{
					letter-spacing: 4px;
					line-height: 30px;
					color: white;
					font:{
						family: 'Myriad Pro';
						size: 19px;
						weight: normal;
					};

					@media screen and(max-width: 1024px) {
						letter-spacing: 2px;
						line-height: 20px;
						font: {
							size: 13px;
						};
					}
				}
			}

			.footer__item__contact{
				height: auto;
				justify-content: flex-start;
				align-items: center;

				p{
					margin: 0 0 0 22px;
					color: white;
					font:{
						family: 'Myriad Pro';
						size: 19px;
						weight: normal;
					};
				}
			}
		}
	}

	.footer__bottom__wrap{
		background: #000;
		border-top: 3px solid #474747;
		width: 100%;
		height: 150px;

		.footer__bottom__content{
			margin: 0 auto;
			height: 100%;
			width: 85%;
			justify-content: space-between;
			align-items: center;

			@media screen and(max-width: 720px) {
				flex-direction: column;
			}

			p{
				color: white;
				font:{
					family: 'Myriad Pro';
					size: 19px;
					weight: normal;
				};
			}
			
			.footer__bottom__socials{
				justify-content: space-evenly;
				align-items: center;
				min-width: 200px;

				@media screen and(max-width: 720px) {
					padding-bottom: 30px;
				}

				ul{
					display: flex;
					justify-content: space-evenly;
					width: 100%;
					margin: 0;

					li{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						min-width: 43px;
						min-height: 43px;
						border: 1px solid white;
						border-radius: 5px;
					}
				}
			}
		}
	}
}