body{
    min-width: 1920px;

    @media screen and (max-width: 1440px) {
        width: 1400px;
    }

    @media screen and (max-width: 1024px) {
        min-width: 1024px;
    }

    @media screen and (max-width: 720px) {
        min-width: 720px;
    }
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.links-panel_horizontal{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}

.text_general{
    text-transform: uppercase;
    font: {
        family: 'Open Sans Bold';
        weight: bold;
    }
}

.text_micro{
    font: {
        family: 'Open Sans Bold';
        size: 12px;
    }
}

.text_bordered{
    font:{
        family: 'Myriad Pro';
        size: 24px;
    };
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    border-radius: 1px;

    @media screen and(max-width: 1440px) {
        font: {
            size: 16px;
        };
        padding: 5px 10px 5px 10px;
    }

    @media screen and(max-width: 1024px) {
        font: {
            size: 14px;
        };
        padding: 5px;
    }

    @media screen and(max-width: 720px) {
        font: {
            size: 14px;
        };
        padding: 0;
    }
}

.text_uppercase{
    text-transform: uppercase;
}

.heading_general{
    text-transform: uppercase;
    text-align: center;
}

.flex_col{
    display: flex;
    flex-direction: column;
}

.flex_row{
    display: flex;
    flex-direction: row;
}
